#rc-app {
  .rc-icon {
    background-image: url(../img/rc-icons-2x.png) !important;
    background-repeat: no-repeat !important;
    background-size: auto 14px !important;
    width: 14px !important;
    height: 14px !important;
  }

  .rc-icon-city {
      background-position: 0px 0px !important;
  }

  .rc-icon-globe {
      background-position: 0px 0px !important;
  }

  .rc-icon-clock {
      background-position: 0px 0px !important;
  }

  .rc-icon-magnify {
      background-position: 0px 0px !important;
  }

  .rc-icon-pointer {
      background-position: 0px 0px !important;
  }

  .rc-icon-airplane {
      background-position: 0px 0px !important;
  }

  .rc-icon-calendar {
      background-position: -92px 0 !important;
  }

  .rc-icon-chevron-down {
      background-position: -106px -1px !important;
  }

  .rc-icon-train {
      background-position: -120px 0px !important;
  }

  .rc-icon-chevron-left {
      background-position: -138px 0px !important;
  }

  .rc-icon-chevron-right {
      background-position: -151px 0px !important;
  }

  .rc-icon-loader {
      background-position: -162px 0px !important;
  }

  .rc-icon-user {
      background-position: -179px 0px !important;
  }

  .rc-icon-tick {
      background-position: -194px 0px !important;
  }
}