@font-face {
    font-family: "rcAppIcons";
    src: url("../fonts/icons.eot");
    src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icons.woff") format("woff"),
    url("../fonts/icons.ttf") format("truetype"),
    url("../fonts/icons.svg#icons") format("svg");
    font-weight: normal;
    font-style: normal;
}
#rc-app {
  .rc-icon:before {
      font-family: "rcAppIcons" !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      text-transform: none !important;
      speak: none !important;
      line-height: 1 !important;
      -webkit-font-smoothing: antialiased !important;
      -moz-osx-font-smoothing: grayscale !important;
  }

  .rc-icon-city:before {
      content: "a" !important;
  }

  .rc-icon-globe:before {
      content: "b" !important;
  }

  .rc-icon-clock:before {
      content: "c" !important;
  }

  .rc-icon-magnify:before {
      content: "d" !important;
  }

  .rc-icon-pointer:before {
      content: "e" !important;
  }

  .rc-icon-airplane:before {
      content: "f" !important;
  }

  .rc-icon-calendar:before {
      content: "g" !important;
  }

  .rc-icon-chevron-down:before {
      content: "h" !important;
  }

  .rc-icon-train:before {
      content: "i" !important;
  }

  .rc-icon-chevron-left:before {
      content: "j" !important;
  }

  .rc-icon-chevron-right:before {
      content: "k" !important;
  }

  .rc-icon-loader:before {
      content: "l" !important;
  }

  .rc-icon-user:before {
      content: "n" !important;
  }

  .rc-icon-tick:before {
      content: "o" !important;
  }
}