@import 'vendor/_cleanslate';
@import 'vendor/_pikaday';

#rc-app {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #333 !important;
    background-color: #fff !important;
    position: relative !important;

	* {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	    font-size: 14px !important;
	    line-height: 1.42857143 !important;
	    color: #333 !important;
		-webkit-box-sizing: border-box !important;
		-moz-box-sizing: border-box !important;
		box-sizing: border-box !important;
	}

	form {
		position: relative !important;
	}

	h3 {
		font-size: 18px !important;
		padding: 0 0 8px !important;
	}

	h4 {
		font-size: 14px !important;
		padding: 0 0 4px !important;
	}

	.rc-form-group-wrap,
	.rc-form-control-wrap,
	.rc-form-group {
		&:after {
			width: 100% !important;
			display: table !important;
			clear: both !important;
			content: '' !important;
		}
	}

	.rc-form-group-wrap {
		&--locations {
			label {
				float: left !important;
				width: 25% !important;
				margin-bottom: 0 !important;
				line-height: 34px !important;
			}
			.rc-form-control {
				float: left !important;
				margin-left: 5% !important;
				width: 70% !important;
			}
		}
		&--dropoff {
		    max-height: 0 !important;
		    overflow-y: hidden !important;
		    -webkit-transition: max-height 0.5s ease-in-out !important;
		    -moz-transition: max-height 0.5s ease-in-out !important;
		    -o-transition: max-height 0.5s ease-in-out !important;
		    transition: max-height 0.5s ease-in-out !important;
		    &.is-visible {
				max-height: 150px !important;
		    }
		}
	}

	.rc-form-group {
		margin-bottom: 8px !important;
		&--date {
			width: 44% !important;
			float: left !important;
		}
		&--time {
			margin-left: 3% !important;
			width: 53% !important;
			float: left !important;
		}
		&--return {
			label {
				cursor: pointer !important;
				margin-bottom: 0 !important;
				input {
					margin: -1px 6px 0 0 !important;
				}
			}
		}
		&--submit {
			margin-bottom: 0 !important;
			position: absolute !important;
			bottom: 0 !important;
			right: 0 !important;
		}
	}

	label {
	    font-size: 11px !important;
    	display: inline-block !important;
	    max-width: 100% !important;
	    margin-bottom: 4px !important;
	    font-weight: 700 !important;
	}

	.rc-form-control {
	    display: block !important;
	    width: 100% !important;
	    height: 34px !important;
	    padding: 6px 12px !important;
	    font-size: 14px !important;
	    line-height: 1.42857143 !important;
	    color: #555 !important;
	    background-color: #fff !important;
	    background-image: none !important;
	    border: 1px solid #ccc !important;
	    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15) !important;
		box-shadow: 0 1px 1px rgba(0,0,0,0.15) !important;
	    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
	    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
	    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
	    &:focus {
		    border-color: #ccc !important;
		    border-color: rgba(82,168,236,.8) !important;
		    outline: 0 !important;
		    outline: thin dotted\9 !important;
		    -webkit-box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
		    box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
	    }
	    &[disabled] {
    	    cursor: not-allowed !important;
    	    background: #eee !important;
	    }
	    &--hour, &--minute {
    	    position: relative !important;
	    	width: 50% !important;
	    	float: left !important;
	    	&:focus {
	    		z-index: 2 !important;
	    	}
	    }
	    &--hour {
	    	// border-radius: 4px 0 0 4px !important;/
	    	border-right-width: 0 !important;
	    }
	    &--minute {
	    	// border-radius: 0 4px 4px 0 !important;
	    	border-left-width: 0 !important;
	    }
	    &--age {
	    	width: 5em !important;
	    }
	}

	.rc-button {
		color: #fff !important;
		background: #337ab7 !important;
		border: 1px solid #2e6da4 !important;
	    display: inline-block !important;
	    padding: 6px 12px !important;
	    font-weight: 700 !important;
	    text-align: center !important;
	    border-radius: 0 !important;
	    cursor: pointer !important;
	    &:hover, &:focus, &:active {
		    color: #fff !important;
		    background: #286090 !important;
		    border-color: #204d74 !important;
	    }
	    &:hover:active {
			color: #fff !important;
			background: #204d74 !important;
			border-color: #122b40 !important;
	    }
	}

	.rc-modal-overlay {
		visibility: visible !important;
		opacity: 1 !important;
		background-color: rgba(0, 0, 0, 0.5) !important;
		position: absolute !important;
		top: 0 !important;
		right: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		-webkit-transition: opacity .3s !important;
		transition: opacity .3s !important;
		&--hidden {
			visibility: hidden !important;
			opacity: 0 !important;
		}
	}

	.rc-modal {
		margin-top: 24px !important;
		border-radius: 4px !important;
		border: 1px solid #999 !important;
		border: 1px solid rgba(0,0,0,0.2) !important;
		-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5) !important;
		box-shadow: 0 5px 15px rgba(0,0,0,0.5) !important;
		background-color: #fff !important;
		width: 300px !important;
		position: absolute !important;
		left: 50% !important;
		margin-left: -150px !important;
		&-close {
			cursor: pointer !important;
			float: right !important;
			font-size: 21px !important;
			font-weight: 700 !important;
			line-height: 1 !important;
			color: #000 !important;
			text-shadow: 0 1px 0 #fff !important;
			filter: alpha(opacity=20) !important;
			opacity: 0.2 !important;
			&:hover {
				color: #000 !important;
				text-decoration: none !important;
				cursor: pointer !important;
				filter: alpha(opacity=50) !important;
				opacity: 0.5 !important;
			}
		}
		&-header {
			padding: 15px !important;
			border-bottom: 1px solid #e5e5e5 !important;
			span {
				font-weight: bold !important;
			}
		}
		&-body {
			padding: 15px !important;
			span {
				display: block !important;
			}
		}
	}

	&.rc-app--is-rtl {
		direction: rtl !important;
		.rc-form-group-wrap {
			&--locations {
				label {
					float: right !important;
				}
				.rc-form-control {
					float: right !important;
					margin-left: 0 !important;
					margin-right: 5% !important;
				}
			}
		}
		.rc-form-group {
			&--date {
				float: right !important;
			}
			&--time {
				margin-left: 0 !important;
				margin-right: 3% !important;
				float: right !important;
			}
			&--return {
				label {
					input {
						margin: -1px 0 0 6px !important;
					}
				}
			}
			&--submit {
				right: auto !important;
				left: 0 !important;
			}
		}
		.rc-modal {
			&-close {
				float: left !important;
			}
		}
	}
}